body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-family: "Short Stack", cursive;
  color: #583b39;
  opacity: 0.8;
  background: linear-gradient(
    360deg,
    rgb(251, 196, 167) 0%,
    rgb(251, 251, 251) 100%
  );
}

header {
  align-items: center;
  border: 1px solid red;
}

header h1 {
  font-size: 55px;
  border: 1px solid red;
}

section {
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid red;
}

a {
  text-decoration: none;
}

.main {
  opacity: 1;
  border: 1px solid red;
}

button,
.button {
  padding: 20px 30px;
  border: 1px solid white;
  border-radius: 7px;
  font-family: "Short Stack", cursive;
  background: white;
  box-shadow: 5px 10px 10px rgba(40, 34, 34, 0.2);
  font-size: 17px;
  color: #583b39;
  justify-content: space-between;
}

button:hover,
.button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 150ms ease-in-out;
}

.restart-button {
  position: relative;
  margin: 30px auto;
}

.main-header {
  display: flex;
  align-items: baseline;
  font-size: 100px;
}

.quiz-question {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.selection {
  padding: 15px 35px;
  margin: 15px;
}

.drink-display-section {
  text-align: center;
  padding-bottom: 30px;
  /* border: 1px solid red; */
  width: 700px;
}

.drink-display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 25px;
}

.drink-display-section img {
  object-fit: cover;
  justify-content: space-between;
  border-radius: 10px;
  width: 240px;
  height: 320px;
  border: 0.5px solid white;
}

.drink-display-section h1 {
  font-size: 25px;
}

.drink-description {
  max-width: 300px;
  margin: 0 auto;
}

.drink-header {
  text-transform: uppercase;
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 15px;
  border: 1px solid red;
}

.footer a {
  color: #583b39;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: 150ms ease-in-out;
}

.footer a:visited {
  color: #ef793b;
}

.footer a:visited:hover {
  color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1200px) {
  header h1 {
    font-size: 50px;
  }
}

@media (max-width: 992px) {
  header h1 {
    font-size: 40px;
  }

  .boba-icon {
    font-size: 60px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .main-header {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 10px;
  }

  .main-header h1 {
    margin: 0;
    text-align: center;
    font-size: 37px;
  }

  .boba-icon {
    font-size: 55px;
    text-align: center;
  }

  .drink-display-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 15px;
  }

  .drink-description {
    font-size: 14px;
  }

  .drink-header {
    text-transform: uppercase;
  }
}

@media (max-width: 576px) {
  .main-header {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 10px;
  }

  .main-header h1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
  }
  /* 
  .boba-icon {
    font-size: 55px;
    text-align: center;
  } */

  /* .drink-display-grid {
    display: grid;
    grid-template-columns: 1fr;
  } */

  /* .drink-description {
    font-size: 14px;
  } */

  /* .drink-header {
    text-transform: uppercase;
  } */
}
