body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: fit-content;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: "Short Stack", cursive;
}

header {
  align-items: center;
}

header h1 {
  font-size: 55px;
  color: #28211a;
}

section {
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

button,
.button {
  padding: 20px 30px;
  border: 1px solid #ffb068;
  border-radius: 7px;
  font-family: "Short Stack", cursive;
  background: #ffb068;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  font-size: 17px;
  color: white;
}

button:hover,
.button:hover {
  cursor: pointer;
}

.main-header {
  display: flex;
  align-items: baseline;
  font-size: 100px;
  margin: 10px;
}

.quiz-question {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.icon {
  padding: 15px 35px;
  /* background: transparent; */
  /* font-size: 20px; */
  /* border: none; */
  /* border-radius: 50%; */
}

.green-tea-milk-grid {
  display: grid;
  border: 1px solid red;
}
